{% extends "layout.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/profil">Mon profil</a></li>
                 
    </ol>
    </div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{beneficiaireProfil.prenom}}</h2>
                    <p><strong>Sexe : </strong> {{beneficiaireProfil.sexe}} </p>
                    <p><strong>Date de naissance : </strong> {{beneficiaireProfil.datenaissance}}</p>
                    <p><strong>Régime social : </strong> {{beneficiaireProfil.regime_social}}</p>
                    {% set nbB = adhesion.beneficiaires | length  %}
                    {% if nbB>1 %}
                    <p><strong>Bénéficiaires : </strong>
                        {% for beneficiaire in adhesion.beneficiaires %}
                            <a href="/profil/{{ beneficiaire.num }}"> <span class="tags">{{ beneficiaire.prenom }}</span> </a>
                         {% endfor %}
                    </p>
                    {% endif %}
                </div>             
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    {% set nbP = adhesion.prestations_Details | length %}
                    {% set TRSecu = 0 %}
                    
                    {% set TRMut = 0 %}
                     {% for prestation_sante in adhesion.prestations_Details %}
                         {% set TRSecu = TRSecu + prestation_sante.montant_secu %}
                         {% set TRMut = TRMut + prestation_sante.montant_rembourse %}
                        {% endfor %}
                    <h2><strong> {{nbP}}</strong></h2>                    
                    <p><small>Nombre de remboursement</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{ TRSecu|number_format(2, ', ',' ' ) }} €</strong></h2>                    
                    <p><small>Total des remboursements Sécu</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{TRMut}} €</strong></h2>                    
                    <p><small>Total des remboursements Mutuelle</small></p>
                </div>
            </div>
                    <center>
                        <a href="/remboursements/{{beneficiaireProfil.num}}"> Détail des remboursements</a>
                    </center>
                </div>                 
            </div>
	</div>
    <style>

.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
</style>

<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>


                        {% endblock %}
