{% extends "layout.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/contracts">Mon profil</a></li>
                 
    </ol>
    </div>
    
    {% if beneficiaireProfil %}
        <b>Numéro de bénéficiaire :</b> {{ beneficiaireProfil.num }}<br/>
                        <b>Sexe : </b>{{beneficiaireProfil.sexe}}<br/>
                        <b>Date naissance : </b> {{beneficiaireProfil.datenaissance}}<br/>
                        <b>Régime social :</b> {{beneficiaireProfil.regime_social}}
    {% endif %} 
    {% if adhesion %}
        <b>numero beneficiaire sur contrat :</b> {{adhesion.numbeneficiaire}}
        <div class="jumbotron">
        <div class="row wrap">
          <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                {% for beneficiaire in adhesion.beneficiaires %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ beneficiaire.prenom }}</div>
                    <div class="panel-body">
                        <b>Numéro de bénéficiaire :</b> {{ beneficiaire.num }}<br/>
                        <b>Sexe : </b>{{beneficiaire.sexe}}<br/>
                        <b>Date naissance : </b> {{beneficiaire.datenaissance}}<br/>
                        <b>Régime social :</b> {{beneficiaire.regime_social}}
                    </div>
                    <div class="text-center">
                        <a href="/remboursements/{{ beneficiaire.num }}"><span class="glyphicon glyphicon-plus"></span> Plus d'infos</a>
                    </div>
                </div>
                <hr />
                {% endfor %}
                
            </div>
        </div>
    </div>
    </div>
    </div>
        
       
{% else %}
    <div class="alert alert-warning">Erreur chargement de vos bénéficiaires.</div>
{% endif %}       
     {% if adhesion %}
    <div class="table-responsive">
        <div class="jumbotron">
        <table  class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Numéro Beneficiaire</th>
                    <th>Acte</th>
                    <th>Date Soins</th>
                    <th>Total de la prestation</th>
                    <th>Montant pris en charge</th>
                    <th>Date paiement</th>
                    <th></th>
                </tr>
            </thead>
            {% for prestation_sante in adhesion.prestations_Details %}
                <tr>
                    <td><a  href="/remboursements/{{prestation_sante.num_beneficiaire_sinistre }}">{{ prestation_sante.num_beneficiaire_sinistre }}</a></td>
                    <td><a  href="/remboursement/{{ prestation_sante.num_sinistre }}">{{ prestation_sante.designation_acte }}</a></td>
                    <td>{{ prestation_sante.jour_debut_soins }}/{{ prestation_sante.mois_debut_soins }}/{{prestation_sante.annee_debut_soins }}</td>
                    <td>{{ prestation_sante.frais_reel_assure }}€</td>
                    <td>{{ prestation_sante.montant_secu + prestation_sante.montant_rembourse }}€</td>
                    <td>{{ prestation_sante.jour_paiement }}/{{ prestation_sante.mois_paiement }}/{{prestation_sante.annee_paiement }}</td>
                    <td><a  href="/remboursement/{{ prestation_sante.num_sinistre }}"><div class="zoomInfos"/></td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">Erreur chargement de vos remboursements.</div>
{% endif %} 
    
    </div>
    <style>
body {
    font-family: "Segoe UI", 'sans-serif';
}

.avg {
    font-size:77px; 
    padding-top: 20px;
    color:#5CB85C;
}

.details {
    min-height: 355px;
    display: inline-block;
}

</style>

<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>


                        {% endblock %}