{% extends "layout.html.twig" %}
{% set Mutuelle = true %}

{% block title %}Remboursements{% endblock %}

{% block content %}
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/factures">Mes remboursements</a></li>
                 
    </ol>
    </div>
<h2 class="text-center">{{ block('title') }}</h2>
{% if adhesion %}
    <div class="table-responsive">
        <div class="jumbotron">
        <table  class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Numéro Beneficiaire</th>
                    <th>Acte</th>
                    <th>Date Soins</th>
                    <th>Date paiement</th>
                    <th>Montant sécu</th>
                    <th>Montant remboursé</th>
                    <th></th>
                </tr>
            </thead>
            {% for prestation_sante in adhesion.prestations_Details %}
                <tr>
             
                    <td><a  href="/remboursements/{{prestation_sante.num_beneficiaire_sinistre }}">{{ prestation_sante.num_beneficiaire_sinistre }}</a></td>
                    <td><a  href="/remboursement/{{ prestation_sante.num_sinistre }}">{{ prestation_sante.designation_acte }}</a></td>
                    <td>{{ prestation_sante.jour_debut_soins }}/{{ prestation_sante.mois_debut_soins }}/{{prestation_sante.annee_debut_soins }}</td>
                    <td>{{ prestation_sante.jour_paiement }}/{{ prestation_sante.mois_paiement }}/{{prestation_sante.annee_paiement }}</td>
                    <td>{{ prestation_sante.montant_secu }}€</td>
                    <td>{{ prestation_sante.montant_rembourse }}€</td>
                    <td><a  href="/remboursement/{{ prestation_sante.num_sinistre }}"><div class="zoomInfos"/></td>
                    
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">Erreur chargement de vos remboursements.</div>
{% endif %}   
{% endblock %}{# empty Twig template #}
